body {
    background-color: #f5f5f5;
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
    padding: 20px;
    /* Fondo claro y centrado, con padding */
}

h1 {
    font-size: 36px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 30px;
    /* Estilo del título principal */
}

h1 span {
    font-weight: bold;
}

table {
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra alrededor de la tabla */
}

table tr td {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 12px;
    font-size: 16px;
    text-align: left;
    color: #333;
    /* Estilos para las celdas de la tabla */
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Fondo alterno para filas pares */
}

.bold {
    font-weight: bold;
    color: #333;
}

.imagen {
    background: radial-gradient(rgb(235, 232, 232), rgb(141, 140, 140));
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    /* Estilos de la imagen con fondo degradado */
}

.fas {
    font-size: 50px;
    text-decoration: none;
    color: #0077cc;
    transition: color 0.3s;
}

.fas:hover {
    color: #005fa3;
}

.icono {
    display: inline-block;
    padding: 10px;
    margin: 20px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    transform-origin: center center; /* Asegura que el escalado sea desde el centro */
    /* Estilo del icono con sombra y posición fija */
}

.icono a {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.1);
    color: #0077cc;
    cursor: pointer;
}

table td img {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Estilos para imágenes dentro de las celdas de la tabla */
}

.formulario a {
    background-color: rgb(153, 152, 152);
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    transition: 300ms;
    /* Estilo de los enlaces en el formulario */
}

.formulario a:hover {
    background-color: #5f5e5e;
    transform: scale(1.1);
}
